# ePayco - Llave Publica
EPAYCO_PUBLIC_KEY=PUBLIC_KEY

# ePayco - Llave Privada
EPAYCO_PRIVATE_KEY=PRIVATE_KEY

# ePayco - Configuraciones
EPAYCO_CRON_MINUTES=5
EPAYCO_TEST_MODE=true
EPAYCO_MIN_AMOUNT=1000
EPAYCO_MAX_AMOUNT=
EPAYCO_SERVICE_URL=https://secure.epayco.co

# Servicio Backend
API_BASE_URL=https://xe.engcode.dev/github/adisonucomp/a3d1a7618ca7/

# Google Maps Android SDK
ANDROID_MAPS_API_KEY=API_KEY
