# ePayco - Llave Publica
EPAYCO_PUBLIC_KEY=TU_PUBLIC_KEY_DE_EPAYCO
EPAYCO_TEST_MODE=true
EPAYCO_MIN_AMOUNT=1000
EPAYCO_MAX_AMOUNT=
API_BASE_URL=https://xe.engcode.dev/github/adisonucomp/a3d1a7618ca7/

# ePayco - Llave Privada
EPAYCO_PRIVATE_KEY=TU_PRIVATE_KEY_SOLO_BACKEND

# Google Maps Android SDK
ANDROID_MAPS_API_KEY=TU_API_KEY_DE_GOOGLE_MAPS
