<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos para obtener ubicación -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Imágenes Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Compatibilidad Android <= 12 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiendaVirtual">

        <activity android:name=".ui.model.shipment.ShipmentUpdateActivity" android:exported="false" />
        <activity android:name=".ui.model.shipment.ShipmentSelectActivity" android:exported="false" />
        <activity android:name=".ui.model.shipment.ShipmentDeleteActivity" android:exported="false" />
        <activity android:name=".ui.model.shipment.ShipmentCreateActivity" android:exported="false" />
        <activity android:name=".ui.buyer.BuyerOrderActivity" android:exported="false" />
        <activity android:name=".ui.home.HomeSpecifyActivity" android:exported="false" />
        <activity android:name=".ui.home.HomeCategoryFilterActivity" android:exported="false" />
        <activity android:name=".ui.model.order.OrderCreateActivity" android:exported="false" />
        <activity android:name=".ui.model.order.OrderDeleteActivity" android:exported="false" />
        <activity android:name=".ui.model.order.OrderSelectActivity" android:exported="false" />
        <activity android:name=".ui.model.order.OrderUpdateActivity" android:exported="false" />
        <activity android:name=".ui.model.ubication.UbicationCreateActivity" android:exported="false" />
        <activity android:name=".ui.model.ubication.UbicationDeleteActivity" android:exported="false" />
        <activity android:name=".ui.model.ubication.UbicationSelectActivity" android:exported="false" />
        <activity android:name=".ui.model.ubication.UbicationUpdateActivity" android:exported="false" />
        <activity
            android:name=".ui.setting.SettingAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminUserQuitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminUserListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminShopQuitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminShopStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminShopListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminShopEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminUserStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminUserEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileShareActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buyer.BuyerMapsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buyer.BuyerAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomePassCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomePasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="password"
                    android:path="/reset"
                    android:scheme="emptio" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeRestoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeCatSportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeCatTechActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buyer.BuyerShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buyer.BuyerPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buyer.BuyerCartShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.email.EmailCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.email.EmailDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.email.EmailSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.email.EmailUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.address.AddressCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.address.AddressDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.address.AddressSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.address.AddressUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.category.CategoryCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.category.CategoryDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.category.CategorySelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.category.CategoryUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.gateway.GatewayCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.gateway.GatewayDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.gateway.GatewaySelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.gateway.GatewayUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.image.ImageCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.image.ImageDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.image.ImageSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.image.ImageUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.payment.PaymentCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.payment.PaymentDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.payment.PaymentSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.payment.PaymentUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.product.ProductCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.product.ProductDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.product.ProductSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.product.ProductUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.purchase.PurchaseCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.purchase.PurchaseDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.purchase.PurchaseSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.purchase.PurchaseUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.role.RoleCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.role.RoleDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.role.RoleSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.role.RoleUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.seller.SellerCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.seller.SellerDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.seller.SellerSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.seller.SellerUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.shop.ShopCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.shop.ShopDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.shop.ShopSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.shop.ShopUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.specify.SpecifyCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.specify.SpecifyDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.specify.SpecifySelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.specify.SpecifyUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.user.UserCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.user.UserDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.user.UserSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.model.user.UserUpdateActivity"
            android:exported="false" />
        <!--
 <activity
            android:name=".admin.ui.AddShopAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.EditShopAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.EditProfileAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.ProfileAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.AddUserAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.EditUserAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.DashboardAdmin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.ui.ReportAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.ShopManagementAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ui.UserManagementAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.SplashScreenActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCDeNZbwxDjoDwnVvcAaFgs7NT-kOGjp4I" />
    </application>

</manifest>